@import "tailwindcss";

@theme {
  
    /* Префикс --color- перед названием переменной автоматически говорит Tailwind v4, что это новый цвет, который нужно добавить в палитру. */

	/* Фон карточки: #edf2f7 (светло-серый) - Задача 1. */
	--color-card-bg: #edf2f7;
	/* Цвет имени: #1a202c (чёрный) - Задача 1. */
	--color-author-name: #1a202c;
	/* Цвет текста отзыва: #4a5568 (серо-синий) - Задача 1. */
	--color-review-text: #4a5568;
	/* Цвет звёзд: #f6ad55 (оранжевый) - Задача 1. */
    --color-star-rating: #f6ad55;
	
    /* Для имени пользователя: sans-serif - Задача 1. */
    --font--author-name: sans-serif;
    /* Для текста отзыва: serif - Задача 1. */
	--font--review-text: serif;
	}
